* {
  list-style: none;
}

.Menu {
  background-color: tomato;
  display: flex;
  justify-content: center;
}
.Menu a {
  color: white;
  text-decoration: none;
}
.Menu a:hover {
  color: gold;
}

.links {
  color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 4px double tomato;
  margin-left: 5px;
}
.links:visited {
  color: none;
}

.article {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: center;
}
